@page "/game/{GameId:int}"

@if (_game is null)
{
    <span>Oopsi, on dirait qu'il y a un problème</span>
    return;
}

<div id="game">
    <MudText Color="Color.Primary" Typo="Typo.h3">Dix-Mille</MudText>

    <div id="players-list">
        @foreach (var player in _game.Players)
        {
            <MudPaper Elevation="2" Outlined="true">
                <div class="player-row" @onclick="@(() => OnPlayerClicked(player))">
                    <span class="ranking-icon">
                        @if (ShouldDisplayCup(player))
                        {
                            <MudImage src="images/first_place_cup.png" alt="first place up" Width="50" Height="50"/>
                        }
                    </span>
                    <MudText Class="player-name" Typo="Typo.h5">
                        @player.Name
                    </MudText>
                    <MudSpacer/>
                    <MudText Class="player-score" Typo="Typo.h5">
                        @player.Score
                    </MudText>
                </div>
            </MudPaper>
        }
    </div>
    
    @if (!string.IsNullOrWhiteSpace(_game.LastPlayerName))
    {
        <MudText Color="Color.Success" Typo="Typo.h5">Le dernier joueur à avoir joué est @_game.LastPlayerName</MudText>
    }
</div>


