#game{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#players-list{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#return-to-home-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.winning-background {
    background-image: url("https://github.com/Codex04/DixMille/blob/main/DixMille/wwwroot/Images/firework.gif?raw=true");
    background-color: rgba(255, 255, 255, 0.1) !important;
    background-blend-mode: overlay;
}

.player-row{
    display: flex;
    gap: 10px;
    height: 60px;
}

.ranking-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.player-row ::deep h5 {
    line-height: 60px;
}

::deep .player-name {
    font-weight: bold;
    margin: 0 10px;
}

::deep .player-score {
    font-weight: bold;
    margin: 0 20px;
}