@page "/"

<div id="home">
    <MudText Color="Color.Primary" Typo="Typo.h3">Dix-Mille</MudText>

    <div id="navigation-buttons">
        <MudPaper Elevation="2" Class="navigation-buttons-content">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow OnClick="@OnNewGameClicked">Nouvelle partie</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow Disabled>Reprendre une partie</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow Disabled>Historique</MudButton>
        </MudPaper>
    </div>
</div>
