@page "/"

<div id="home">
    <MudText Typo="Typo.h1">Dix-Mille</MudText>

    <div id="navigation-buttons">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OnNewGameClicked">Nouvelle partie</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled>Reprendre une partie</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Disabled>Historique</MudButton>
    </div>
</div>
