#new-game {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#players-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#return-to-home-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

#new-player-field {
    display: flex;
    align-items: center;
    gap: 14px;
}

.player {
    display: flex;
    height: 30px;
    padding: 3px;
}

::deep .player-list-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap: 10px;
}